<div class="container">
    <div class="row">
        <ul class="replegado">
            <li>
                <a href="#">
                    <img src="./assets/bars.png" alt="Barras" title="Barras">
                </a>
            </li>
        </ul>
    </div>
    <div class="row">
      <nav class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Home sin routing</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="about">About sin routing</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active" routerLink="blog">blog sin routing</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
