<div class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Nuevo Post</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="formTitulo">Titulo del Post: </label>
          <input type="text" class="form-control" id="formTitulo" placeholder="Obligatorio" name="titulo" [(ngModel)]="sTitulo">
        </div>
        <div class="form-group">
          <label for="formAutor">Firma: </label>
          <input type="text" class="form-control" id="formAutor" placeholder="Obligatorio" name="autor" [(ngModel)]="sAutor" >
        </div>
        <div class="form-group">
          <label for="formImagen">Imgen: </label>
          <input type="text" class="form-control" id="formImagen" placeholder="Opcional. Copie la url de la imagen que desea incluir." name="imagen" [(ngModel)]="sImagen" >
        </div>
        <div class="form-group">
          <label for="formContenido">Contenido del Post: </label>
          <textarea class="form-control" id="formContenido" rows="3" name="contenido" [(ngModel)]="sContenido" ></textarea>
        </div>
        <button type="button" class="btn btn-primary" (click)="addPost()">Submit</button>
      </form>
    </div>
  </div>
</div>