<div class="container">
  <p>asdf</p>
  <ul class="list-group" *ngFor="let item of items | async">
    <li class="list-group-item">
      <div class="card">
        <div class="card-header">
          {{ item.title }}
        </div>
        <div class="card-body">
          <img [src]="item.img" class="img-fluid danger p-2 col-2 float-left" alt="">
          <p class="card-text">{{ item.content }}</p>
        </div>
        <div class="card-footer text-right">
          Autor: {{ item.author }}
        </div>
      </div>
    </li>
  </ul>
</div>