article figure {
    margin: auto 1rem;
}

article figure.fig1 {
    width: 35%;
    float: right;
    margin-top: 0%;
}

article figure.fig2 {
    width: 40%;
    float: left;
    margin-top: 0%;
    margin-left: 0rem;
}

figure img {
    width: 100%;
}

article p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin-right: 1rem;
}

article h2, article h3 {
    font-family: 'Raleway', serif;
    font-weight: 800;
}

p span {
    font-weight: 600;
}


aside {
    background-color: var(--color_content);
    font-style: italic;
    font-family: 'Raleway', serif;
    padding: 0rem 1rem;
    float: right;
    width: 25%;
    font-size: 0.9rem;
    margin: 0.5rem;
}

iframe {
    width: 100%;
    height: 500px;
    margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
    /*tablet grande*/
    /*HOME*/

    article p {
        padding-right: 0rem;
    }

}

@media screen and (max-width:768px) {
    /*tablet*/
    /*HOME*/

    aside {
        padding: 0rem;
        float: none;
        width: 100%;
        margin: 1rem 0rem;
        padding: 1rem 0rem;

    }
    aside p, aside h2 {
        margin: 0rem 1rem;
    }
    article p {
        width: 100%;
    }
    article figure.fig1, article figure.fig2 {
        width: 100%;
        display: block;
        margin: 0rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width:480px) {
    /*movil*/
    /*HOME*/
    header p {
        display: none;
    }
}