.container {
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0rem;
    font-size: 2.5rem;
} 

p {
    font-family: 'Raleway', serif;
    font-weight: 800;
    margin-top: 0.5rem;
}

