.container {
    text-align: center;
    width: 100%;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0rem;
    font-size: 2.5rem;
} 

p {
    font-family: 'Raleway', serif;
    font-weight: 800;
    margin-top: 0.5rem;
}

h1 img {
    width: 1.5rem;
    height: 1.5rem;
}

.flip {
    transform: scaleX(-1)
}

@media screen and (max-width: 1024px) {
    /*tablet grande*/
    header h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width:480px) {
    /*movil*/

    p {
        display: none;
    }
}


