<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 p-2" *ngFor="let persona of aPersonas">
            <div class="card">
                <div class="card-header">
                    {{ persona.role }}
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">{{ persona.name }}</h4>
                    <img [src]="persona.pic" class="img-fluid rounded" alt="Foto {{ persona.name }}">
                </div>
                <div class="card-footer text-muted">
                    {{ persona.description }}
                </div>
            </div>
        </div>
    </div>
</div>