<div class="autores" id="autores">

  <!-- Persona 1 -->

  <div class="persona">
      <div class="nombre">
          <a>Marcos O.</a>
      </div>
      <div class="foto">
          <img src="./assets/foto_marcos.jpg" alt="Foto marcos">
      </div>
      <div class="role">
          <a>Desarrollador</a>
      </div>
      <div class="datos">
          <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
      </div>
  </div>

  <!-- Persona 2 -->

  <div class="persona">
      <div class="nombre">
          <a>Pablo P.</a>
      </div>
      <div class="foto">
          <img src="./assets/foto_pablo.jpg" alt="Foto pablo">
      </div>
      <div class="role">
          <a>Desarrollador</a>
      </div>
      <div class="datos">
          <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
      </div>
  </div>

  <!-- Persona 3 -->

  <div class="persona">
      <div class="nombre">
          <a>Benjamin S.</a>
      </div>
      <div class="foto">
          <img src="./assets/foto_beni.jpg" alt="Foto benjamin">
      </div>
      <div class="role">
          <a>Desarrollador</a>
      </div>
      <div class="datos">
          <a>Alumno de la UPM. En el último año de Ingeniería de Software, actualmente en Babelcamp 2018.</a>
      </div>
  </div>

</div>
