.container{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.img-fluid {
    margin: 0 auto;
    display: block;
    float: none;
    filter: grayscale() blur(2px);
    border-radius: 10rem;
}

.img-fluid:hover {
    filter: blur(0px) ;
}

.card-body {
    align-content: center;
}

@media screen and (max-width:768px) {
    
}