.img1 {
    max-height: 20rem;
}

.card-header {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
}

.card-footer p span {
    font-weight: 500;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}