@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Coustard:900|Raleway');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:900');

:root {
    --color_title: rgb(82, 82, 82);
    --color_content: rgb(240, 251, 255);
    --color_title_text: rgb(241, 253, 252);
}/* You can add global styles to this file, and also import other style files */

body{
    background-color: #e8f0ff;
}

.wrapper {
    width: 60%;
    margin: 2rem auto;
}

button:hover {
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.19);
}

button:disabled {
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.0), 0 6px 0px 0 rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1024px) {
    /*tablet grande*/
    /*HOME*/
    .wrapper {
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    /*tablet*/
    /*HOME*/
    .wrapper {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    /*movil*/
    /*HOME*/
    .wrapper {
        width: 95%;
    }

    header p {
        display: none;
    }
}